@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
}
.pagina_inicial{
    font-size: 30px;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    border-radius: 15px;
    width: 230px;
    border:1px solid #15ffff ;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 5px;
    
}

.pagina_inicial a{
    color: #15ffff;
    
    
    
    
    
}

.pagina_inicial a:hover{
    color: #ffffff;
    transition: 0.5s;

    
}
.pagina_inicial:hover{
    background-color: #2ecc71;
    transition: 0.5s;
}


body {
    overflow: hidden;
}

.background{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(sobre.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150vh;
}

header{
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    padding-top: 2rem;

}

.contatos{
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-top: 250px;
    


}

.contatos h3{
    color: #fff;
    font-size: 16px;
}

.contatos h1{
    color: #fff;
    margin-top: 10px;
    font-size: 38px;
    padding-bottom: 20px;

}

.contatos span{
    color: #2ecc71;
}

.botao_voltar_topo{
    background-color: transparent;
}

.botao_voltar_topo a{
    color: #000000;
}